.BackgroundLogin {
  /* background: linear-gradient(120deg, #eee, #fff 100%); */
  background-image: url('../../assets/Ocean-2.4s-3000px.svg');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.LoginLanding {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginWrap {
  position: relative;
  background: linear-gradient(to right, #44AA99 0%, #332288 100%);

  /* background: #000000; */
  width: 810px;
  height: 610px;
}

.LoginLoginBox {
  /* background: #ffffff; */
  margin: 5px 5px 5px 5px;
  padding: 20px;
  width: 800px;
  height: 600px;
}

.LoginLoginBox h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 5vh;
  background: linear-gradient(to right, #44AA99 0%, #332288 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LoginLoginBox p {
  text-align: left;
  font-size: small;
}

.LoginBox Button {
  float: right;
}
#loginButton .p-button {
  background: linear-gradient(to right, #44AA99 0%, #332288 100%) !important;
  border: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.LoginSplit {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.LoginLeft {
  width: 60%;
  background-color: #ffffff;
  background-size: cover;
  /* Background image for represenation only in proto type, to be replaced before production; copyrights not held */
  /* background-image: url('../../assets/Ocean-2.4s-3000px.svg'); */
}

.LoginRight {
  right: 0;
  background-color: #ffffff;
  min-width: 610px;
}

.LoginCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.LoginCentered img {
  width: 150px;
}

.LoginLeftH {
  font-family: "IBM Plex Sans", sans-serif;
  padding-left: 5vh;
  margin-bottom: 5vh;
}
