.LandingLogin {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LandingWrap {
  
  position: relative;
  background: linear-gradient(to right, #30CFD0 0%, #332288 100%);
  width: 610px;
  height: 310px;
}

.LandingLoginBox  {
  background: #ffffff;
  margin: 5px 5px 5px 5px;
  padding: 20px;
  width: 600px;
  height: 300px;
  
}