 .portfolio-status-active {
  background-color: #A9DFBF;
  color: #495057;
  font-weight: normal;
}

 .portfolio-status-inactive {
  background-color: #F2F4F4;
  color: #495057;
  font-weight: normal;
}

 .portfolio-stage-H2L {
  background-color: #A69283;
  color: #ffffff;
  font-weight: normal;
}
 .portfolio-stage-LO {
  background-color: #75A3F4;
  color: #ffffff;
  font-weight: normal;
}
 .portfolio-stage-SP {
  background-color: #B2AACB;
  color: #ffffff;
  font-weight: normal;
}