
.scrollpanel-structure .p-scrollpanel p {
  padding: 0rem;
  line-height: 1.5;
  margin: 0;
}



.scrollpanel-structure .p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: #28477f;
  opacity: 1;
  transition: background-color .2s;
}

.scrollpanel-structure .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
  background-color: #28477f;
}


.scrollpanel-structure .p-col-12 {
  padding: 0rem;
}

.custom-scrolltop {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  background-color: #28477f !important;
}
.custom-scrolltop:hover {
  background-color: #28477f !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}