.HorizonNode {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: auto;
  text-align: left;
}

.HorizonNode tr {
  list-style-type: none;
  text-align: left;
}

.HorizonNode td {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: large;
}

.HorizonNode table {
  margin-top: 10px;
  border-style: none;
}
