.stage-tag .stage-FHA {
  background-color: #207656;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-HA {
  background-color: #207656;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-H2L {
  background-color: #DCB14E;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-LO {
  background-color: #52422D;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-SP {
  background-color: #D86D6F;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-IND {
  background-color: #53A9A8;
  color: #ffffff;
  font-weight: normal;
  min-width: 5rem;
}
.stage-tag .stage-Dotted {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #444cf7, #444cf7 1px, #A9CCE3 1px, #A9CCE3 5px );
  min-width: 5rem;
}

