.stage-tag .stage-FHA {
  background-color: #648FFF;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-H2L {
  background-color: #785EF0;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-LO {
  background-color: #DC267F;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-SP {
  background-color: #FE6100;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-IND {
  background-color: #FFB000;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-Dotted {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #444cf7, #444cf7 1px, #A9CCE3 1px, #A9CCE3 5px );
}

