.stage-tag .stage-H2L {
  background-color: #A69283;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-LO {
  background-color: #75A3F4;
  color: #ffffff;
  font-weight: normal;
}
.stage-tag .stage-SP {
  background-color: #B2AACB;
  color: #ffffff;
  font-weight: normal;
}