
.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  padding: 50px 50px;
  
}

.BackgroundFooter {
  /* background: linear-gradient(120deg, #eee, #fff 100%); */
  width: 100%;
  min-height: 10vh;
  background-size: cover;
}

.Hr {
  height: 2px;
  background: linear-gradient(to right, #44AA99 0%, #332288 100%);
  border: 0px;
  margin-bottom: 40px;
}

.Text {
  font-size: 12px; 
}

.Footer a {
  
  color: #000;
  text-decoration: underline;
}
.Footer a:hover{
  color: #30CFD0;
  text-decoration: underline;
}
.Push {
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  .Footer a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .FooterRight {
    float: none;
  }
}