.pipeline-menu .p-tabmenuitem {
  margin-right: 25px !important;
}

.pipeline-menu .p-menuitem-icon {
  font-size: 25px !important;
}

.pipeline-menu .p-menuitem-text	 {
  font-size: 18px !important;
}