body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

.heading {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
}

.hide {
  display: none;
}
