.root {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 500;
}

.heading {
  background: linear-gradient(to left, #44aa99 0%, #332288 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 500;
}

.hide {
  display: none;
}

a {
  color: #28477f;
}

.noDataTableHeader thead {
  display: none;
}
