.NotFound {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NotFoundWrap {
  
  position: relative;
  background: linear-gradient(to right, #44AA99 0%, #332288 100%);
  width: 610px;
  height: 310px;
}

.NotFoundBox  {
  background: #ffffff;
  margin: 5px 5px 5px 5px;
  padding: 20px;
  width: 600px;
  height: 300px;
  
}