.datatable-portfolio-dash .p-paginator .p-paginator-current {
  margin-left: auto;
}

.datatable-portfolio-dash .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}

.datatable-portfolio-dash .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}

.datatable-portfolio-dash .table-header {
  display: flex;
  justify-content: space-between;
}

.datatable-portfolio-dash .table-header .heading {
  background: linear-gradient(to right, #30cfd0 0%, #332288 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.datatable-portfolio-dash .p-datepicker {
  min-width: 25rem;
}

.datatable-portfolio-dash .p-datepicker td {
  font-weight: 400;
}

.datatable-portfolio-dash .p-datatable.p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 2rem;
}

.datatable-portfolio-dash .p-datatable.p-paginator {
  padding: 1rem;
}

.datatable-portfolio-dash .p-datatable.p-datatable-thead > tr > th {
  text-align: left;
}

.datatable-portfolio-dash .p-datatable.p-datatable-tbody > tr > td {
  cursor: auto;
}

.datatable-portfolio-dash .p-datatable.p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

.datatable-portfolio-dash .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

.datatable-portfolio-dash .narrow-column {
  width: 200px !important;
}
.datatable-portfolio-dash .p-inputtext {
  font-size: 0.8rem;
}

.datatable-portfolio-dash .p-multiselect {
  font-size: smaller;
}

.datatable-portfolio-dash .p-multiselect-item {
  font-size: smaller;
}

.datatable-portfolio-dash .p-button {
  font-size: smaller;
}

.datatable-portfolio-dash .table-status-active {
  background-color: #A9DFBF;
  color: #495057;
  font-weight: normal;
}

.datatable-portfolio-dash .table-status-inactive {
  background-color: #F2F4F4;
  color: #495057;
  font-weight: normal;
}

.datatable-portfolio-dash .table-stage-FHA {
  background-color: #648FFF;
  color: #ffffff;
  font-weight: normal;
}


.datatable-portfolio-dash .table-stage-H2L {
  background-color: #785EF0;
  color: #ffffff;
  font-weight: normal;
}
.datatable-portfolio-dash .table-stage-LO {
  background-color: #DC267F;
  color: #ffffff;
  font-weight: normal;
}
.datatable-portfolio-dash .table-stage-SP {
  background-color: #FE6100;
  color: #ffffff;
  font-weight: normal;
}

.datatable-portfolio-dash .table-stage-IND {
  background-color: #FFB000;
  color: #ffffff;
  font-weight: normal;
}

.datatable-portfolio-dash .table-date-due {
  background-color: #FFECB3;
  color: #495057;
  font-weight: normal;
}

.datatable-portfolio-dash .table-date-ok {
  background-color: #ffffff;
  color: #495057;
  font-weight: normal;
}

@media screen and (max-width: 960px) {
  .datatable-portfolio-dash .p-datatable.p-datatable-thead > tr > th,
  .datatable-portfolio-dash .p-datatable.p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .datatable-portfolio-dash .p-datatable.p-datatable-tbody > tr {
    border-bottom: 1px solid var(--layer-2);
  }

  .datatable-portfolio-dash .p-datatable.p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
  }

  .datatable-portfolio-dash
    .p-datatable.p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
  }

  .datatable-portfolio-dash
    .p-datatable.p-datatable-tbody
    > tr
    > td
    .p-progressbar {
    margin-top: 0.5rem;
  }
}
